<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.web.application.server.repository.PeopleRepository">

    <select id="getPeopleList" resultType="peopleResultModel">
        SELECT
            e.user_id,
            e.name,
            e.state,
            e.img_url,
            IFNULL(
                    (SELECT SUM(
                                    CASE
                                        WHEN w.leave_time IS NULL THEN 0
                                        ELSE TIMESTAMPDIFF(MINUTE, w.attendance_time, w.leave_time)
                                        END
                            )

                     FROM work_time w
                     WHERE w.user_id = e.user_id
                       AND w.attendance_time LIKE CONCAT(#{yearMonth}, '%')),
                    0
            ) AS month_work_time,

            IFNULL(
                    (SELECT SUM(
                                    CASE
                                        WHEN w.leave_time IS NULL THEN 0
                                        ELSE TIMESTAMPDIFF(MINUTE, w.attendance_time, w.leave_time)
                                        END
                            )
                     FROM work_time w
                     WHERE w.user_id = e.user_id),
                    0
            ) AS total_work_time
        FROM employee e;
    </select>
</mapper>